/*----------------------------------------------------------------------
[Master Stylesheet]

	Project:        beachhut media website
	Version:        
	Author:         beachhut.ie
	Primary use:    Corporate, Business, Portfolio, Landing, Shop and Blog Themes.
	Email: 			info@beachhut.ie
	Website:		http://www.beachhut.ie


[Table of Contents]

	1. Base
	2. Blog Classic
	3. Blog Grid
	4. Blog Sidebar
	5. Blog Single Post
	7. Blog Teaser
	7. News
	8. Accordion
	9. Alerts
	10. Blockquotes
	11. Breadcrumbs
	12. Comment Form
	13. Dividers
	14. Dropcap
	15. Heading
	16. Icon List
	17. Image Popup
	18. Lists
	19. Login Form
	20. Pagination
	21. Progress Bar
	22. Scroll to Section
	23. Tab
	24. Tables
	25. Table Wrap
	26. Theme Icons
	27. Timeline
	28. Call to Action
	29. Clients
	30. Counters
	31. Diagonal Content
	32. Equal Height Block
	33. Icon Box
	34. Image Gallery
	35. Interactive Banner
	36. Newsletter
	37. Banner Image
	38. Parallax
	39. Piecharts
	40. Process
	41. Promo Block
	42. Services
	43. Slider Block
	44. Team Members
	45. Testimonials
	46. Video
	47. Work
	48. Footer (Default)
	49. Footer v2
	50. Footer v3
	51. Footer v4
	52. Footer v5
	53. Footer v6
	54. Footer v7
	55. Footer v8
	56. Header
	57. Header Center Aligned
	58. Header Center Aligned Transparent
	59. Header Fullscreen
	60. Header Section Scroll
	61. Header Transparent
	62. Header Vertical
	63. Language
	64. Language Push
	65. Responsive
	66. Form Modal
	67. Search Default
	68. Search Classic
	69. Search Fullscreen
	70. Search On Header
	71. Search Push
	72. Sidebar
	73. Topbar Classic
	74. Topbar e-Commerce
	75. Topbar Transparent
	76. Coming Soon
	77. Contact Us
	78. FAQ
	79. Shopify
	80. Animated Headline
	81. Animsition
	82. Back to Top
	83. Bootstrap Components
	84. Google Maps
	85. Masonry Grid
	86. Owl Carousel
	87. Portfolio
	88. Revolution Slider
	89. Blue Theme Color
	90. Base Theme Color
	91. Blue Theme Color
	92. Blue Grey Theme Color
	93. Gold Theme Color
	94. Green Theme Color
	95. Grey Theme Color
	96. Pink Theme Color
	97. Purple Theme Color
	98. Red Theme Color
	99. Teal Theme Color
	100. Colors
	101. Helpers
-----------------------------------------------------------------------*/

/* =================================================================
    [Primary Sass files]
================================================================= */

// Bourbon
// =================================================================

@import 'bourbon/bourbon';
@import 'neat/neat'; 


// Custom
// =================================================================

@import 'mixins'; // Mixins
@import 'variables'; // Variables
@import 'utils/media-queries'; // Helpers



// Base
// =================================================================

@import 'base/base'; // Base

// Base
// =================================================================

@import 'base/typography'; // Base


// Blogs
// =================================================================

@import 'blog/blog-classic'; // Blog Classic
@import 'blog/blog-grid'; // Blog Grid
@import 'blog/blog-sidebar'; // Blog Sidebar
@import 'blog/blog-single-post'; // Blog Single Post
@import 'blog/blog-teaser'; // Blog Teaser
@import 'blog/news'; // News


// Components
// =================================================================

@import 'components/accordion'; // Accordion
@import 'components/alerts'; // Alerts
@import 'components/blockquotes'; // Blockquotes
@import 'components/breadcrumbs'; // Breadcrumbs
@import 'components/buttons'; // Buttons
@import 'components/comment-form'; // Comment Form
@import 'components/dividers'; // Dividers
@import 'components/dropcap'; // Dropcap
@import 'components/heading'; // Heading
@import 'components/icon-list'; // Icon List
@import 'components/image-popup'; // Image Popup
@import 'components/lists'; // Lists
@import 'components/login-form'; // Login Form
@import 'components/paginations'; // Paginations
@import 'components/progress-bar'; // Progress Bar
@import 'components/scroll-to-section'; // Scroll To Section
@import 'components/tab'; // Tab
@import 'components/tables'; // Tables
@import 'components/table-wrap'; // Table Wrap
@import 'components/theme-icons'; // Theme Icons
@import 'components/timeline'; // Timeline
@import 'components/diamond-layout'; // Timeline
@import 'components/splash-banner'; // splash banner
@import 'components/hero-text'; // splash banner
@import 'components/services-wp'; // 
@import 'components/quick-signup'; //







// Gui
// =================================================================

@import 'gui/call-to-action'; // Call To Action
@import 'gui/clients'; // Clients
@import 'gui/counters'; // Counters
@import 'gui/diagonal-content'; // Diagonal Content
@import 'gui/equal-height-block'; // Equal Height Block
@import 'gui/icon-box'; // Icon Box
@import 'gui/image-gallery'; // Image Gallery
@import 'gui/interactive-banner'; // Interactive Banner
@import 'gui/newsletter'; // Newsletter
@import 'gui/banner-img'; // Banner Img
@import 'gui/parallax'; // Parallax
@import 'gui/piecharts'; // Piecharts
@import 'gui/pricing-list'; // Pricing List
@import 'gui/process'; // Process
@import 'gui/promo-block'; // Promo Block
@import 'gui/promo-block-1'; // Promo Block
@import 'gui/services'; // Services
@import 'gui/slider-block'; // Slider Block
@import 'gui/team-members'; // Team Members
@import 'gui/testimonials'; // Testimonials
@import 'gui/video'; // Video
@import 'gui/work'; // Work


// Layout
// =================================================================

@import 'layout/footer'; // Footer
@import 'layout/footer-v6'; // Footer
@import 'layout/header'; // Header
@import 'layout/header-transparent'; // Header
@import 'layout/language'; // Language
@import 'layout/language-push'; // Language Push
@import 'layout/responsive'; // Responsive
@import 'layout/form-modal'; // Form Modal
@import 'layout/search'; // Search Default
@import 'layout/search-classic'; // Search Classic
@import 'layout/search-fullscreen'; // Search Fullscreen
@import 'layout/search-on-header'; // Search On Header
@import 'layout/search-push'; // Search Push
@import 'layout/sidebar'; // Sidebar
@import 'layout/topbar-classic'; // Topbar Classic
@import 'layout/hero-image'; // Hero fade image
@import 'layout/hero-grid'; // Hero fade image





// Pages
// =================================================================

@import 'pages/coming-soon'; // Coming Soon
@import 'pages/contact-us'; // Contact Us
@import 'pages/faq'; // FAQ
@import 'pages/shopify'; // Shopify
@import 'pages/service'; // 
@import 'pages/legal'; //
@import 'pages/process'; // 
@import 'pages/blog'; // 
@import 'pages/resources'; //
@import 'pages/single-project'; //
@import 'pages/about'; //
@import 'pages/offers'; //










// Plugins
// =================================================================

@import 'plugins/animated-headline'; // Animated Headline
@import 'plugins/animsition'; // Animsition
@import 'plugins/back-to-top'; // Back To Top
@import 'plugins/bootstrap-components'; // Bootstrap Components
@import 'plugins/google-maps'; // Google Maps
@import 'plugins/masonry-grid'; // Masonry Grid
@import 'plugins/owl-carousel'; // Owl Carousel
@import 'plugins/portfolio'; // Portfolio
@import 'plugins/rev-slider'; // Revolution Slider
@import 'plugins/slick'; // Slick Slider
@import 'plugins/slick-theme'; // Slick Slider theme



// State
// =================================================================

@import 'state/animation'; // Revolution Slider


// Theme
// =================================================================




// Utils
// =================================================================

@import 'utils/colors'; // Colors
@import 'utils/helpers'; // Helpers



// Custom
// =================================================================

@import 'custom'; // custom css

