/*--------------------------------------------------
    [Header]
----------------------------------------------------*/

.header {
    border: none;
    @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));
}

/* Header Fixed */
.header {
    &.header-fixed {
        position: relative;
    }
}

/* Header Box Shadow */
.header {
    &.header-box-shadow {
        &:before,
        &:after {
            @include position(absolute, $top: 50%, $left: 10px, $right: 10px, $bottom: 0);
            z-index: -1;
            box-shadow: 0 0 15px lighten($color-dark-light, 67%);
            border-radius: 1000px / 30px;
            content: " ";
        }

        &:after {
            left: auto;
            right: 10px;
        }
    }
}

/* Navbar */
.header {
    .navbar {
        // background: $color-white;
        border: none;
        border-radius: 0;
        margin-bottom: 0;
    }
}

/* Navbar Toggle */
.header {
    .navbar-toggle {
        @include size(25px);
        float: left;
        border: none;
        padding: 0;
        margin: 32px 0;

        .toggle-icon {
            position: relative;
            @include size(25px, 3px);
            display: inline-block;
            background: #222222;
            @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));

            &:before,
            &:after {
                @include position(absolute, $left: 0);
                @include size(25px, 3px);
                background: #222222;
                content: " ";
            }
            &:before {
                bottom: 16px;
                @include rotate(0);
                @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));
            }
            &:after {
                top: -8px;
                @include rotate(0);
                @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));
            }

            &.is-clicked {
                @include bg-opacity(#222222, 0);

                &:before,
                &:after {
                    background: #222222;
                }
                &:before {
                    bottom: 5px;
                    @include rotate(45deg);
                    @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));
                }
                &:after {
                    top: -5px;
                    @include rotate(-45deg);
                    @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));
                }
            }
        }

        &:hover {
            .toggle-icon {
                
                &.is-clicked {
                    @include bg-opacity(#fff, 0);
                }
            }
        }
    }
}

/* Navbar Toggle White*/
.header {
    .navbar-toggle {
        @include size(25px);
        float: left;
        border: none;
        padding: 0;
        margin: 32px 0;

        .toggle-white {
           
            background: #fff;
            

            &:before,
            &:after {
                
                background: #fff;
           
            }
            

            &.is-clicked {
                @include bg-opacity(#fff, 0);

                &:before,
                &:after {
                    background: #fff;
                }
                
            }
        }

        &:hover {
            .toggle-icon {
                
                &.is-clicked {
                    @include bg-opacity(#fff, 0);
                }
            }
        }
    }
}

/* Topbar Toggle Trigger */
.header {
    .topbar-toggle-trigger {
        float: left;
        @include size(27px);
        text-align: center;
        cursor: pointer;
        padding: 35px 0 55px;

        .topbar-toggle-trigger-style {
            @include position(relative, $top: 8px);
            display: block;
            @include size(4px);
            text-align: center;
            background: $color-dark;
            border-radius: 50%;
            content: " ";
            margin: 0 auto;

            &:before,
            &:after {
                @include position(absolute, $left: 50%);
                @include size(4px);
                background: $color-dark;
                border-radius: 50%;
                content: " ";
                margin-left: -2px;
            }
            &:before {
                top: -6px;
            }
            &:after {
                bottom: -6px;
            }
        }

        &:hover {
            .topbar-toggle-trigger-style {
                background: $color-base;

                &:before,
                &:after {
                    background: $color-base;
                }
            }
        }
    }
}

/* Topbar Toggle Trigger Icon */
.header {
    .topbar-toggle-trigger-icon-style {
        color: $color-dark;
        padding: 2px 5px;

        &:hover {
            color: $color-base;
        }
    }
}

/* Navbar Actions */
.header {
    .navbar-actions {
        position: relative;
        float: right;

        .navbar-actions-shrink {
            line-height: 90px;
            float: left;
            @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));
        }
    }
}


/* Navbar Logo */
.header {
    .navbar-logo {
        @include size(100px);
        float: left;
        max-height: 100px;
        line-height: 60px;
        @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));

        .navbar-logo-wrap {
            display: inline-block;
            padding: 15px 0;

            &:focus,
            &:hover {
                text-decoration: none;
            }
        }

        .navbar-logo-img {
            display: inline-block;
            @include size(210px, auto);
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
        }
    }
}

/* Navbar Nav */
.header {
    .navbar-nav {

     
              .nav-item-child {
            @include font($size: $font-size-14);
            font-family: 'brandon_grotesque_lightRg';
            font-weight: 900;
            color: #fff;
            background: 0;
            cursor: pointer;

           
            text-decoration: none;
            text-align: center;


            letter-spacing: 3px;
            text-transform: uppercase;
            // padding: 55px 15px;

            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s ease;

            &:hover {
                // color: $color-base;
            }
        }

        @media (min-width: 991px) {

        .nav-item-child:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 20px;
          left: 0;
          background-color: #fff;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }

        .nav-item-child:hover:before {
            visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
        }
            
        }

        

        .open {
            .nav-item-child {
                &:hover,
                &:focus {
                    background: 0;
                }
            }
        }
    }
}

.navbar-nav>li>a {

    line-height: 72px;
    padding-bottom: 40px; 
    @include MQ(XM ){
        padding-bottom: 0;

    }

}

.nav>li>a {

    padding-left: 10px;
}

/* Dropdown Menu */
.header {
    .dropdown-menu {
        min-width: 200px;
        border: none;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        margin-top: 1px;

        .dropdown-menu-item {
            color: lighten($color-dark, 10%);

            .dropdown-menu-item-child {
                @include font($size: $font-size-12, $weight: $font-weight-400);
                color: lighten($color-dark, 10%);
                text-transform: uppercase;
                padding: 8px 20px;

                &.active {
                    color: $color-base;

                    &:hover {
                        color: $color-base;
                        background: $color-white;
                    }
                }

                &:focus {
                    background: 0;
                }

                &:hover {
                    color: $color-white;
                    background: $color-base;
                }
            }

            &.active {
                .dropdown-menu-item-child {
                    color: $color-base;

                    &:hover {
                        background: 0;
                    }
                }
            }
        }
    }
}

/* Dropdown Submenu */
.header {
    .dropdown-submenu {
       position: relative;

        &:hover {
            .dropdown-submenu-child {
                color: $color-base;
            }

            .dropdown-menu {
                display: block;
            }
        }

        .dropdown-submenu-child {
            display: block;
            @include font($size: $font-size-12, $weight: $font-weight-400);
            color: lighten($color-dark, 10%);
            text-transform: uppercase;
            cursor: pointer;
            padding: 8px 20px;
            margin: 0;

            &:after {
                @include position(absolute, $top: 8px, $right: 12px);
                display: inline-block;
                @include font($size: $font-size-12, $family: $font-family-font-awesome);
                content: "\f105";
            }

            &.active {
                color: $color-base;

                &:hover {
                    color: $color-base;
                    background: $color-white;

                    &:after {
                        color: $color-base;
                    }
                }
            }

            &:hover {
                color: $color-white;
                background: $color-base;

                &:after {
                    color: $color-white;
                }
            }
        }

        .dropdown-menu {
            top: -1px;
            left: 100%;
            margin-left: -0.8px;

            &.dropdown-menu-left {
                left: -100%;
                margin-left: 0.5px;
            }
        }

        &.active {
            .dropdown-submenu-child {
                color: $color-base;

                &:hover {
                    color: $color-base;
                    background: $color-white;
                }
            }
        }
    }
}

/* Mega Menu */
.header {
    .mega-menu-list {
        .mega-menu-title {
            display: block;
            @include font($size: $font-size-13, $weight: $font-weight-500);
            color: $color-dark;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        .mega-menu-child {
            display: block;
            @include font($size: $font-size-12, $weight: $font-weight-400);
            color: lighten($color-dark, 10%);
            text-transform: uppercase;
            text-decoration: none;
            padding: 8px 20px;
            margin: 0;

            &.active {
                color: $color-base;

                &:hover {
                    color: $color-base;
                    background: $color-white;
                }
            }

            &:hover {
                color: $color-white;
                background: $color-base;
                text-decoration: none;
            }
        }
    }
}

/* Media Queries below 991px */
@media (max-width: $screen-sm-max) {
    /* Bootstrap collapse of navigation with a maximum width: 991px
    (Change it to any breakpoint you want to be collapsed) */
    .header {
        .navbar-toggle {
            display: block;
        }

        .navbar-collapse {
            &.collapse {
                display: none !important;

                &.in {
                    display: block !important;
                    // overflow-y: auto !important;
                }
            }
        }

        .navbar-nav {
            margin: 0;
            float: none;

            .nav-item {
                float: none;
            }
        }
    }

    /* Navbar Fixed Top */
    .header {
        &.navbar-fixed-top,
        &.navbar-fixed-top-boxed {
            position: relative;

            .nav-collapse {
                max-height: none;
                padding: 0;
                margin: 0;
            }
        }
    }

    /* Menu Container */
    .header {
        .menu-container {
            @include clearfix;
        }
    }

    /* Navbar Logo */
    .header {
        .navbar-logo {
            @include size(auto, 100%);
            display: block;
            float: none;
            text-align: center;
            margin: 0 70px;
        }
    }

    /* Navbar Nav */
    .header {
        .navbar-nav {
            .nav-item {
                

                &.open {
                    .nav-item-child {
                        &:after {
                            @include rotate(90deg);
                            @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));
                        }
                    }
                }
            }

            .nav-item-child {
                line-height: 0;
                // padding: 72px 12px 12px 0;
            }

            .dropdown-toggle {
                position: relative;

                &:after {
                    @include position(absolute, $top: 12px, $right: 0);
                    display: inline-block;
                    @include font($size: $font-size-12, $family: $font-family-font-awesome);
                    content: "\f105";
                    @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));
                }
            }

            .nav-item-bg {
                display: inline-block;
                border-top: none;
                margin: 10px 0 20px;
                @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));

                .nav-item-child {
                    color: $color-white;
                    line-height: 20px;
                    padding: 7px 15px;
                    background: $color-base;

                    &:after {
                        content: " ";
                        display: none;
                    }

                    &:hover {
                        color: $color-white;
                    }
                }
            }
        }
    }

    /* Dropdown Menu */
    .header {
        .dropdown-menu {
            position: static;
            float: none;

            .dropdown-menu-item {
                &:last-child {
                    margin-bottom: 20px;
                }
            }
        }
    }

    /* Dropdown Submenu */
    .header {
        .dropdown-submenu {
            .dropdown-submenu-child {
                @include font($weight: $font-weight-500);

                &:after {
                    display: none;
                }

                &:hover {
                    cursor: inherit;
                }
            }

            .dropdown-menu {
                display: block;
                padding-left: 20px;
                margin-bottom: 20px;
            }

            &:hover {
                .dropdown-submenu-child {
                    color: $color-dark;
                    background: 0;
                }
            }
        }
    }

    /* Mega Menu */
    .header {
        .mega-menu-list {
            margin-bottom: 20px;

            .mega-menu-title {
                @include font($size: $font-size-12);
                padding: 8px 20px;
                margin-bottom: 0;
            }

            .mega-menu-item {
                margin-left: 20px;
            }
        }
    }
}

/* Media Queries below 767px */
@media (max-width: $screen-xs-max) {
    /* Menu Container */
    .header {
        .menu-container {
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 0;
            margin-right: 0;
        }

        .navbar {
            > .container {
                width: auto;
                padding-left: 0;
                padding-right: 0;
                margin-left: 0;
                margin-right: 0;

                > .nav-collapse {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }

    /* Theme Toggle Trigger */
    .header {
        .theme-toggle-trigger {
            display: block;
        }

        .theme-toggle-content {
            display: none;
        }
    }
}

/* Media Queries below 480px */
@media (max-width: $screen-xs-min) {
    .header {
        background: none;
        .shopping-cart {
            .shopping-cart-menu {
                @include position(absolute, $top: 100%, $right: -50px);
            }
        }
    }
}


/* Media Queries above 768px */
@media (min-width: $screen-sm-min) {
    /* Navbar Fixed Top Boxed */
    .header {
        &.navbar-fixed-top {
            &.navbar-fixed-top-boxed {
                @include position(fixed, $top: 0, $left: auto, $right: auto);
            }
        }
    }

    /* Theme Toggle Trigger */
    .header {
        .theme-toggle-trigger {
            display: none !important;
        }

        .theme-toggle-content {
            display: block !important;
        }
    }
}

/* Media Queries above 992px */
@media (min-width: $screen-md-min) {
    /* Header Shrink */
    .header-shrink {
        &.header {
            @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));

            &:before,
            &:after {
                @include position(absolute, $top: 50%, $left: 10px, $right: 10px, $bottom: 0);
                z-index: -1;
                // box-shadow: 0 0 15px lighten($color-dark-light, 67%);
                border-radius: 1000px / 30px;
                content: " ";
            }

            &:after {
                left: auto;
                right: 10px;
            }

            .navbar {
                background: $color-white;
            }

            .navbar-logo {
                @include size(85px);
                max-height: 70px;
                line-height: 35px;
                @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));

                .navbar-logo-wrap {
                    padding: 3px 0;
                }
            }

            .navbar-actions {
                .navbar-actions-shrink {
                    line-height: 70px;
                    @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));
                }
            }

            .navbar-nav {
                .nav-item-child {
                   
                    @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));
                }

                .nav-item-bg {
                    margin: 17px 15px 17px 0;
                    @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));
                }
            }
        }
    }

    /* Navbar */
    .header {
        .navbar-nav {
            float: right;

            .nav-item {
                .dropdown-menu {
                    z-index: 9999;
                    min-width: 200px;
                    border: none;
                    border-radius: 0;
                }

                .open {
                    > .dropdown-menu {
                        display: none;
                    }
                }

                &:hover {
                    .nav-item-child {
                        
                    }

                    > .dropdown-menu {
                        display: block;
                    }
                }
            }

            .nav-item-bg {
                margin: 27px 15px 27px 0;
                @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));

                .nav-item-child {
                    color: $color-white;
                    line-height: 20px;
                    padding: 7px 15px;
                    background: $color-white;

                    &:hover {
                        color: $color-white;
                    }
                }
            }
        }
    }

    /* Mega Menu */
    .header {
        .mega-menu .nav,
        .mega-menu .collapse,
        .mega-menu .dropdown,
        .mega-menu .dropup {
            position: static;
        }

        .mega-menu {
            .container {
                position: relative;
            }
        }

        .dropdown-menu {
            left: auto;
        }

        .mega-menu-fullwidth {
            .dropdown-menu {
                left: 15px;
                right: 15px;
                padding: 20px 0;
            }
        }

        .mega-menu-content {
            padding: 0 20px;
        }

        .mega-menu-list {
            margin-bottom: 0;

            .mega-menu-item {
                padding: 0;
            }

            .mega-menu-title {
                padding-left: 20px;
            }
        }
    }
}


.header-fill {
    
    width: 100%;
}

@media (max-width: 991px) {
        .header.navbar-fixed-top, .header.navbar-fixed-top-boxed {
        position: relative;
        
    }

}

@media (max-width: 991px) {


    .nav-item {
    max-height: 60px;
}
    

}


.bg-shade {
    background: rgba(0,0,0,0.3) !important;
}



.header-pink {
        background: $color-bright-pink;
    }

.header-dark {
    background: $color-dark;
}

.header-dark-op {
    background: rgba(0,0,0,0.7);
}


@include MQ(XM) {
    .header-pink, .header-dark, .header-dark-op {
        background: none !important;
    }

}

/*--------------------------------------------------
    Blue Nav Items
----------------------------------------------------*/

$color-dark-soft: #080404;


.nav-item {
  max-height: 90px;
}

.topbar-c-contacts-link  {
  
  font-family: 'brandon_grotesque_boldregular';
}

.nav-item-blue {
  color: $color-dark-soft!important;
  &:hover {
    color: $color-dark-soft!important;
  }
}

.nav-item-blue:hover {
  color: $color-dark-soft!important;
}




.nav-item:hover {
  color: #fff !important;
}


.nav-item-blue:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          bottom: 80px;
          left: 0;
          background-color: $color-dark-soft!important;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }

        .nav-item-child-blue:hover:before {
            visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
        }

/*--------------------------------------------------
    Logo
----------------------------------------------------*/



.logo {
    display: none;
    font-size: 2.2em;
    text-align: center;
    @include MQ(M) {
        display: block;
    }
    @include MQ(XM) {
        text-align: left;
    }
}


.title-logo {
  text-align: left;
}


@media (max-width: 991px) {
  .title-logo {
    text-align: center;
  }
}

@media (max-width: 768px) { 
  .title-logo {
    display: none;
  }
}

@media (max-width: 990px) { 
  .header .navbar-logo .navbar-logo-img {
    display: block;
    margin:auto;

  }
}

@media (max-width: 480px) { 
  .header .navbar-logo .navbar-logo-img {
    display: none;
    margin: none;


  }
}

 
  .header .navbar-logo .logo-mobile {
    display: block;
    margin-left: auto;
    max-width: 110px;
   

    @include MQ(M) {
      display: none;
    }

  }



.hero-image {
  padding-top: 4em;
  padding-bottom: 4em;   
}



.bh-ss-img {

  margin: auto;

}

.header .navbar-logo .navbar-logo-wrap {
  padding-top: 11px;
  @include MQ(XM) {
    width: 400px;
  }
 
}




