

/*------------------------------------------------------------------
    [Landing Promo Block v2]
------------------------------------------------------------------*/

.l-promo-block-v2 {
	position: relative;
	background: #4c4c61;
	overflow: hidden;
	padding: 100px 0 125px;

	.l-promo-block-v2-title {
		@include font($size: $font-size-50);
		color: $color-white;
		line-height: 1.2;
	}

	.l-promo-block-v2-text {
		@include font($size: $font-size-18);
		color: $color-white;
		line-height: 1.3;
	}

	.l-promo-block-v2-video {
		position: relative;
		@include font($size: $font-size-16);
		color: $color-white;
		text-decoration: none;
        padding-bottom: 8px;
		@include cubic-transition($delay: 0, $duration: 400ms, $property: (all));

		&:before {
            @include position(absolute, $bottom: 0, $left: 0);
            @include size(0, 2px);
            background: $color-white;
            content: " ";
            @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));
        }
		
		.l-promo-block-v2-video-icon {
			@include position(relative, $top: 5px);
			display: inline-block;
			@include font($size: $font-size-30);
			color: $color-white;
			padding-right: 6px;
		}

		&:hover {
			color: $color-teal;
            @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));

			&:before {
                @include position(absolute, $bottom: 0, $left: 0);
                @include size(100%, 2px);
                background: $color-teal;
                @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));
            }
		}
	}

	.l-promo-block-v2-img-wrap {
		height: 370px;
	}
	
	.l-promo-block-v2-img-one {
		@include position(absolute, $top: 0, $left: 0);
	}

	.l-promo-block-v2-img-two {
		@include position(absolute, $top: 0, $left: 0);
	}
}

/* Media Queries below 480px */
@media (min-width: $screen-xs-min) {
	.l-promo-block-v2 {
		.l-promo-block-v2-btn {
			margin-right: 10px;
		}
	}
}

/* Media Queries below 992px */
@media (max-width: $screen-md-min) {
	.l-promo-block-v2 {
		padding-top: 100px;
	}

	/* Image Wrap */
	.l-promo-block-v2 {
		.l-promo-block-v2-img-wrap {
			height: 100%;
		}
		
		.l-promo-block-v2-img-one {
			@include position(inherit);
		}
	}
}

/* Media Queries below 768px */
@media (max-width: $screen-sm-min) {
	.l-promo-block-v2 {
		.l-promo-block-v2-title {
			@include font($size: $font-size-36);
		}
	}
}

/* Media Queries below 480px */
@media (max-width: $screen-xs-min) {
	.l-promo-block-v2 {
		.l-promo-block-v2-btn {
			display: block;
			margin: 0 auto;
		}
	}
}



