//variables

$step-1-delay: 0s;
$step-2-delay: 0.7s;
$step-3-delay: 1.4s;





/*-----------------------------------
        Keyframes
-------------------------------------*/

@keyframes offset {
	100% {
		stroke-dashoffset:0;
	}
}


/*-----------------------------------
        SVG Styles
-------------------------------------*/

.js-fade-element-hide {
  opacity: 0;
}


.js-fade-element-show {
	opacity: 1;

}


.content-step-1 {
	 animation: fadeIn 2s 0s backwards;
}

.content-step-2 {
	 animation: fadeIn 2s 1s backwards;
}

.content-step-3 {
	 animation: fadeIn 2s 2s backwards;
}

.step-1 {
	opacity: 1;
	stroke: #fff;
	stroke-width: 0.8;
	stroke-dasharray: 58;
	stroke-dashoffset: 55;

	animation: offset 1.5s linear $step-1-delay forwards;

}

.step-2 {
	opacity: 1;
	stroke: #fff;
	stroke-width: 0.8;
	stroke-dasharray: 105;
	stroke-dashoffset: 105;
	animation: offset 2s linear 0s forwards;

	@include MQ(L) {
		animation: offset 2s linear $step-2-delay forwards;
	}
}

.step-3 {
	opacity: 1;
	stroke: #fff;
	stroke-width: 0.8;
	stroke-dasharray: 90;
	stroke-dashoffset: 90;
	animation: offset 1.8s linear 0s forwards;

	@include MQ(L) {
		animation: offset 2s linear $step-3-delay forwards;
	}
}



.arrow-step-1 {
	animation: pushUp 1s linear 2s;
}

/*-----------------------------------
        Fade in Headers
-------------------------------------*/

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}

}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform : translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(80px);
	}
	100% {
		opacity: 1;
		transform : translateY(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(40px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-40px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes fadeInBig {
	0% {
		opacity: 0;
		transform: translateX(140px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes pushRight {
	0% {
		transform: translateX(80px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes pushUp {
	0% {
		transform: translateY(-118px);
	}
	100% {
		transform: translateY(-118px);
	}
}