// variables

$base-background-color: #fff !default;
$dark-gray: #333 !default;
$light-gray: #DDD !default;
$medium-screen: 700px !default;
$large-screen: 1024px !default;
$base-font-color: $light-gray !default;
$grid-items-background: $base-background-color;
$grid-item-background: $base-background-color;
$grid-item-border: 1px solid transparentize($base-font-color, 0.4); 
$grid-item-columns: 4;
$grid-item-med-columns: 6;
$grid-item-big-columns: 8;
$grid-item-height-s: 20em;
$grid-item-height-l: 32em;



// colors

$color-1: orange; 
$color-2: #d62323; 
$color-3: #ab87ff; 
$color-4: #1b49be;
$color-5: #02aedc;
$color-6: #8661aa;
$color-7: #4dccbd;
$color-8: #2374ab;
$color-9: #ff8484;
$grey  : #797e83;




// Services

#hero-services {
 background-image: url('../img/color-pencil.jpg');
}


#services {
  @include outer-container(100%);
  
  padding-left: 2em;
  padding-right: 2em;

  .feature-intro {
      h1 {
        margin-top: 0;
      animation: none;
      color: #02aedc;
      padding-top: 2em;
      padding-bottom: 0.75em;
      text-transform: uppercase;
      font-size: 1.6em;
    }
    p {
      text-align: center;
      color: $text-color;
      font-size: 1.2em;
    }
     @include MQ(M) {
   
      h1 {
        font-size: 3em
      }

      p {
        font-size: 2em;
      }

  }




    
  }


  
}


@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items-lines {
  @include clearfix;
  position: relative;


  h5 {
    text-align: center;
    padding-top: 1em;
 
      }

    p {
      font-size: 1em;
      text-align: left;
      padding-top: 1em;
      padding-bottom: 2em;

      text-align: left;
    }
    @include MQ(M) {
      p {
        font-size: 1.2em;
        text-align: left;
      }
    }

    @include MQ(L) {
      p {
        
      }
    }

  
    
  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background;
    
    float: left;
    height: $grid-item-height-s;
    overflow: hidden;
    outline: none;
    padding: 0.8em;
    text-decoration: none;
    width: 100%;

    svg {
      stroke: lighten($text-color, 30%);
      height: 64px;
      width: 64px;
      display: block;
      margin: auto;
      padding-bottom: 1em;
    }

    &:focus,
    &:hover {
      background: #fff;
      svg {
        opacity: 1;
        stroke-dasharray: 90;
        stroke-dashoffset: 90;
        // stroke: #02aedc;
        
        animation: offset 1s linear forwards;

        }


    }

    @include MQ(M) {
      @include grid-item-columns($grid-item-med-columns);
      height: $grid-item-height-l;
      padding: 2em;

      svg {
        height: 96px;
        width: 96px;
      }
    }

    @include MQ(L) {
      @include grid-item-columns($grid-item-columns);
      height: $grid-item-height-l;

      svg {
        height: 128px;
        width: 128px;
      }
    }

    
  }

  .svg__color-1 svg { stroke: $color-1; }



  .hover-color-1 { &:focus,&:hover svg {stroke: $color-1;} }
  .hover-color-2 { &:focus,&:hover svg {stroke: $color-2;} }
  .hover-color-3 { &:focus,&:hover svg {stroke: $color-3;} }
  .hover-color-4 { &:focus,&:hover svg {stroke: $color-4;} }
  .hover-color-5 { &:focus,&:hover svg {stroke: $color-5;} }
  .hover-color-6 { &:focus,&:hover svg {stroke: $color-6;} }
  .hover-color-7 { &:focus,&:hover svg {stroke: $color-7;} }
  .hover-color-8 { &:focus,&:hover svg {stroke: $color-8;} }
  .hover-color-9 { &:focus,&:hover svg {stroke: $color-9;} }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    background: $grid-items-background;
    bottom: 0px;
    height: 30px;
    position: absolute;
    width: 100%;
  }

  .right-cover {
    background: $grid-items-background;
    height: 100%;
    position: absolute;
    right: 0px;
    width: 4px;
  }
}

#call-to-action {
  height: 10em;
  position: relative;
  padding: 4em;
  margin-bottom: 2em;

  .action-btn {
    position: absolute;
    @include center(x);
 
  }
}

