// color variables

.bg-purple { background-color: #8861AA; }
.bg-black { background-color: #252525; }
.bg-blue { background-color: #02aedc; }
.bg-red { background-color: #d62323; }
.bg-darkblue { background-color: #1b49be; }
.bg-lime { background-color: #82CE09; }
.bg-orange { background-color: #d4522d; }
.bg-purple-nurple { background-color: #ab87ff; }
.bg-clear-blue { background-color: rgba(#02aedc, .30); }
.bg-clear-dark { background-color: rgba(#252525, .30); }
.bg-turquoise { background-color: #40E0D0; }
.bg-lightblue { background-color: #9ad3de; }
.bg-darkblue { background-color: #89bdd3; }
.bg-white { background-color: #fff; }
.bg-lightgrey { background-color: #e3e3e3; }

$yellow-orange: darken(#F5AB35, 10%);


