.about-intro {
	z-index: 99999999;
	width: 100%;
	padding: 4em 0 0 0;
	h1, p {
		text-align: center;
	}
	p {
		font-size: 1.6em;
	}
}


.tp-caption .tp-shape .tp-shapewrapper  .tp-static-layer .rev-static-visbile{
	min-height: 0 !important;
}