.about-intro {
	z-index: 99999999;
	width: 100%;
	padding: 4em 0 0 0;
	h1, p {
		text-align: center;
	}
	p {
		font-size: 1.6em;
	}
}


.tp-caption .tp-shape .tp-shapewrapper  .tp-static-layer .rev-static-visbile{
	min-height: 0 !important;
}


.bh-fw-con	{
	position: absolute;
	width: 100%;
	height: 400px;
	background-image: url("../img/content-img/bg_oswald_1.jpg");
}

.center-content {
	position: relative;
	@include center(y);
}