#fullpage {
	padding: 4em 2em;
}

.legal {
	h1,h2,h3,h4,h5,p {
		padding-top: 1.6em;
	}

.lists-base > li, .lists-dark > li {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
    color: #606060;
}


}