$background: $color-white;

.quote-container {
	padding: 4em;

	h5 {
		color: #fff;
    font-size: 16px;
	}
}


/* Header is expected to be a 100% width static element with overflow hidden. */

body > header {
  position: static;
  width: 100%;
  margin-top: 10%;
  overflow: hidden;
}


/* The introductory image container is expected to be fixed positioned and cover the viewport */

div.header-img {
  position: fixed;
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
}


/* The introductory image itself covers the viewport */

div.header-img img {
  position: absolute;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  // max-height: 100%;
  margin: 0;
  padding: 0;
}


/* Content inside the header can be to your liking, but should be absolutely positioned. Here we are assuming all header content (other than the main image) is wrapped in a single <div> */




/* Content is expected to be wrapped in an <article> and is initially hidden. */

article.velocity {
  // position: relative;

  opacity: 1;
  padding-top: 100px;
  padding-bottom: 100px;

}

.infront {
    z-index: 9999999;
}


.project-items li {
  color: $color-darkblue;
  font-size: 1.6em;
  padding-top: 0.4em;
}


.min-width {
  min-width: 100%;
}

.single-project {
  p {
    font-size: 1.6em;
  }
  h1 {
    padding-top: 100px;
    margin-top: 0;
  }
}





