$background: $color-white;

.quote-container {
	padding: 4em;

	h5 {
		color: #fff;
    font-size: 16px;
	}
}

/* Testimonial ----------- */


    blockquote {
        font-family: 'GoudyItalic';
        font-size: 1.75em;
        margin: 4% 0;
        border-left: 10px solid #e3e3e3;
        padding-left: 4%;
        color: #ffffff;
    }
    cite {
        font-family: 'GoudyRegular', serif; /* 1 */
        font-style: normal;
        text-transform: capitalize;
        font-size: 1.25em;
        line-height: 1em;
        color: #ffffff;
        margin: 0 0 6% 4%;
     }

     blockquote span {
     

     }

     body {
    

}


/* Header is expected to be a 100% width static element with overflow hidden. */

body > header {
  position: static;
  width: 100%;
  margin-top: 10%;
  overflow: hidden;
}


/* The introductory image container is expected to be fixed positioned and cover the viewport */

div.header-img {
  position: fixed;
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
}


/* The introductory image itself covers the viewport */

div.header-img img {
  position: absolute;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  // max-height: 100%;
  margin: 0;
  padding: 0;
}


/* Content inside the header can be to your liking, but should be absolutely positioned. Here we are assuming all header content (other than the main image) is wrapped in a single <div> */

.header-intro, .header-intro-left {
  position: absolute;
  top: 300px;
  float: right;
  width: 40%;
  margin: 0;
  z-index: 99999;
  background: $color-white;
  opacity: 0.7;
  padding: 1em;
  display: none;

  @include MQ(XM) {
    display: block;
  }

  h1 {
    margin-top: 0;
    text-align: left;
  }

  h2 {
    text-align: left;
  }
 
}

.header-intro {
  right: 0;
}

.header-intro-left {
  left: 0;
}


/* Content is expected to be wrapped in an <article> and is initially hidden. */

article.velocity {
  // position: relative;

  opacity: 1;
  padding-top: 100px;
  padding-bottom: 100px;

}

.infront {
    z-index: 9999999;
}


.project-items li {
  color: $color-darkblue;
  font-size: 1.6em;
  padding-top: 0.4em;
}


.min-width {
  min-width: 100%;
}

.single-project {
  p {
    font-size: 1.6em;
  }
  h1 {
    padding-top: 100px;
    margin-top: 0;
  }
}





