/* ==========================================================================
   blog-single dir= scss/modules/blog-single.scss
   ========================================================================== */
#blog-single {
	@include outer-container($site-width);
	animation: fadeInUp 2s .2s backwards;
	
	

	margin-bottom: 4em;


}

.blog-post {
	margin-top: 6em;

	@include MQ(M) {
		@include span-columns(8);
		@include shift(2);

		blockquote {
		font-size: 1.8em;
	}


	}

	blockquote {
		font-size: 1.4em;
	}

	padding: 0 2em 2em 2em;
	

	h4 {
		margin-top: 2em;
		text-align: left;
		color: #d4522d;
	}

	.info {
		padding-left: 0;

		li {
			font-family: 'brandon_grotesque_lightRg';
			display: inline-block;
			padding: 0.1em 1em 1em 0;
			a {
				color: #00A0E7;
			}
		}
		
	}

	a {
		color: #00A0E7;

	}

	p {
		padding-top: 1em;
	}

	hr {
		margin-top: 1em;
	}

}



#read-more {
	@include outer-container($site-width);

	background-color:#FAFAFA;
	padding-bottom: 4em;
}


.reading-list {
			@include outer-container();
	h5 {

		@include span-columns(8);
		@include shift(2);

		margin-top: 2em;
	}

}

.article-item {
	@include outer-container($site-width);


	p {
		float: left;
		font-size: 1.2em;

	}

	h3 {
		font-size: 1.6em;
	}

	a {
		color: #02aedc;
	}


}

.share_box {
	text-align: center;
	p {
		padding: 1.5em 0 1em 0;
		margin: 0;
		text-transform: uppercase;
	}

	i {
		padding: 1em 1.5em;
		margin: 0;
		font-size: 2em;
		&:hover {
			color: #02aedc;
			cursor: #02aedc;
		}
	}
}



