/* ==========================================================================
   comming-soon dir= scss/modules/comming-soon.scss
   ========================================================================== */

#comming-soon {
	@include outer-container($site-width);


	img {
		@include centerer;
		padding-top: 2em;
		max-width: 200px;
	}

	h3 {
		text-align: center;
		color: #fff;
	}

	p {
		color: #fff;
		text-align: center;
		padding-top: 2em;
		padding-bottom: 2em;
		font-size: 1.6em;
	}
}