// colors

$form-color-1: #9AD3DE; // Pickled Bluewood
$color-2: #d62323; // Curious Blue
$color-3: $x-light-grey ; // Porcelain
$color-4: #f7f7f7; // White
$color-5: #02aedc; // Cinnabar


$con-margin: 10%;



/* -------------------------------- 

Primary style

-------------------------------- */



a {
  color:$text-color;
  text-decoration: none;

}

#bh-contact-info {
  @include outer-container(100%);
  

  h1 {
    animation: none;
  }

  .contact-us {
    padding-top: 2em;   
    width: 100%;
    float: left;
     background-color: $form-color-1;
     height: 500px;

     text-align: left;

     .contact-us-inner {
      margin-left: 10%;

      h1 {
        margin-bottom: 0;
      }

      ul {
          padding-left: 0;
        }

        .contact-item {
          display: inline-block;
        }

        li {
          padding-top: 2em;

            h6 {
            display: inline-block;
            padding-left: 1em;
            margin-top: 1em;   
          }

          a {
            color: #fff;
            text-transform: lowercase;
            font-size: 1em;
          }
        }
        

       .contact-icon {
       float: left;
       font-size: 1.2em;

 
        .bg-color{
          color: #fff;
        }

        .icon-bg-color {
          color: darken(#f7f7f7, 30%);
        }
       }
     }

  }

  .contact-you {
    padding-top: 2em;  
    width: 100%;
    float: left;
    background-color: $form-color-1;

    min-height: 900px;

    .contact-us-inner {

      margin-left: 10%;
    }
  }

  h1.super-big {
        color: #fff;
        margin-bottom: 0;
        margin-right: 1em;
        padding-top: 1em;
        padding-bottom: 0em;
        font-size: 3.4em;
        text-transform: uppercase;
        font-family: 'brandon_grotesque_boldregular';
        animation: none;
        letter-spacing: 8px;
        text-align: left;

      }

      h6.big {
        color: #fff;
        font-size: 1.6em;
        text-transform: uppercase;
        line-height: 1em;
      }

      h6 {
        font-size: 1em;
        text-transform: uppercase;
        line-height: 1em;
        color: #fff;
      }

      hr.big-hr {
        color: #fff;
        height: 6px;
        width: 140px;
        align: left;
        margin: 0;
        

      }

      h6.ref {
            font-family: 'GoudyItalic';
            font-size: 0.8em;
            margin-bottom: 2em;

          }

      @include MQ(M) {

        .contact-us {

            .contact-us-inner {

            li a {
              font-size: 1.2em;

            }
          }

        }


        h1.super-big {
          font-size: 4.2em;
          padding-bottom: 0.25em;
        }

        h6.big {

          font-size: 2em;
          margin-bottom: 0.2em;
          margin-top: 0.5em;

          
        }
        h6.ref {
            font-size: 0.9em;
          }

        hr.big-hr {
          height: 6px;
          width: 180px;    
        }
      }

      @include MQ(X) {

        .contact-us {

            .contact-us-inner {
            li a {
              font-size: 1.4em;

            }
          }

        }


        h1.super-big {
          font-size: 4.6em;
        }

        h6.big {

          font-size: 2.2em;
          margin-bottom: 0.2em;

          
        }
        h6.ref {
            font-size: 1em;
          }

        hr.big-hr {
          height: 6px;
          width: 180px;    
        }
      }

      @include MQ(L) {

        .contact-you, .contact-us {
          width: 50%;
          min-height: 940px;

        }


        .contact-us {

            .contact-us-inner {
            li a {
              font-size: 1.6em;

            }
          }

        }
        

          h1.super-big {
            margin-right: 1em;
            padding-top: 1em;
            padding-bottom: 0.5em;
            font-size: 5.3em;
            letter-spacing: 8px;
            text-align: left;

          }

          h6.big {
            font-size: 2.7em;
            line-height: 1em;
            margin-top: 0.7em;
          }

          h6 {
            font-size: 1em;
            line-height: 1em;
          }

          hr.big-hr {
            height: 12px;
            width: 240px;
          }

      }

      @include MQ(XL) {

        

        .contact-us {

            .contact-us-inner {
            li a {
              font-size: 1.6em;

            }
          }

        }
 

          h1.super-big {
            margin-right: 1em;
            padding-top: 1em;
            padding-bottom: 0em;
            font-size: 6.4em;
            letter-spacing: 8px;
            text-align: left;

          }

          h6.big {
            font-size: 3.4em;
            line-height: 1em;
            margin-top: 1em;
          }

          h6 {
            font-size: 1.4em;
            line-height: 1em;

          }

          hr.big-hr {
            height: 12px;
            width: 240px;
          }

      }

}


#form-contact {
 

  h1 {
    padding-bottom: 1em;
  }
}

#contact-img {
  @include outer-container(100%);

  .location-img {

    img {
      width: 100%;
      max-height: 100%;
      overflow: hidden;
    }
   


  }



  .contact-info-2 {

   
    width: 50%;
    float: right;

    h1 {
      padding-bottom: 1em;
    }

    hr {
      width: 100px;

    }

    p {
      margin-bottom: 0.5em;
      padding-top: 0;
      text-align: center;


    

    }
  }



}
/* -------------------------------- 

Form

-------------------------------- */

.bh-form {

  max-width: 600px; // breakpoints inside partials > _layout.scss
  margin: 4em auto;
  @include clearfix;

  fieldset {
    margin: 0px 0;
    border: none;
  }

  legend {
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 2.2rem;
    border-bottom: 1px solid $color-3;
  }

  div {
    /* form element wrapper */
    position: relative;
    margin: 20px 0;
  }

  h4, .bh-label {
    font-size: 1.3rem;
    color: darken($color-3, 30%);
    margin-bottom: 10px;
  }

  .bh-label {
    display: block;
  }

  input, textarea, select, label {

    font-size: 1.6rem;
    color: $text-color;
  }



  input[type="text"], 
  input[type="email"], 
  textarea, 
  select,
  legend {
    display: block;
    width: 100%;
    background-color: #fff !important;
    @include appearance(none);
  }


  input[type="text"], 
  input[type="email"], 
  textarea, 
  select {
    /* general style for input elements */
    padding: 12px;
    background-color: $color-4;

    &:focus {
      outline: none;
    }
  }

  .bh-select {
    /* select element wapper */
    position: relative;

    &::after {
      /* arrow icon for select element */
      content: '';
      position: absolute;
      z-index: 1;
      right: 16px;
      top: 50%;
      margin-top: -8px;

      display: block;
      width: 16px;
      height: 16px;

      background: url('../img/cd-icon-arrow.svg') no-repeat center center;
      pointer-events: none;
    }
  }



  select {
    box-shadow: 0 1px 3px rgba(#000, .08);
    cursor: pointer;
  }

  select::-ms-expand {
    display: none;
  }

  .bh-form-list {
    margin-top: 16px;
    @include clearfix;
  }

  .bh-form-list li {
    /* wrapper for radio and checkbox input types */
    display: inline-block;
    position: relative;
    @include user-select(none);
    margin: 0 26px 16px 0;
    float: left;
  }

  fieldset {
    margin: 0;
    padding: 0;
  }

  textarea {
    min-height: 160px;
    resize: vertical;
    overflow: auto;
    max-width: 600px;
    margin-right: 0;
    padding-right: 0;
  }

  input[type="submit"] {
    /* button style */
    border: none;
    background: #02aedc;
    border-radius: 5em;
    border: 2px solid #fff;
    padding: 16px 20px;
    color: #fff;
    font-weight: bold;
    float: right;
    cursor: pointer;
    @include font-smoothing;
    @include appearance(none);

    .no-touch &:hover {
      background: lighten(#02aedc, 10%);
    }

    &:focus {
      outline: none;
      background: $color-1;
    }

    &:active {
      @include transform(scale(.9));
    }
  }

  [required] {
    background: url('../img/cd-required.svg') no-repeat top right;
  }

  .error-message p {
    background: $color-5;
    color: $color-4;
    font-size: 1.4rem;
    text-align: center;
    @include font-smoothing;
    padding: 16px;
  }

  .error {
    border-color: orange !important;
  }

  @include MQ(M) {
    div {
      /* form element wrapper */
      margin: 32px 0;
    }

      legend + div {
      /* reduce margin-top for first form element after the legend */
      margin-top: 20px;
    }

    h4, .bh-label {
      font-size: 1.4rem;
      margin-bottom: 10px;
    }

    input[type="text"], 
    input[type="email"], 
    textarea, 
    select {
      padding: 16px;
    }
  }
}

@include keyframes(cd-bounce) {
  0%, 100% {
    @include transform(scale(1));
  }

  50% {
    @include transform(scale(.8));
  }
}

/* -------------------------------- 

Custom icons

-------------------------------- */

.bh-form {
   margin-left: $con-margin;
   margin-right: $con-margin;
   margin-top: 20px;

  .icon input, .icon select, .icon textarea {
    padding-left: 54px !important;
  }

  .user {
    background: url('../img/cd-icon-user.svg') no-repeat 16px center;
  }

  [required].user {
    background: url('../img/cd-icon-user.svg') no-repeat 16px center, 
          url('../img/cd-required.svg') no-repeat top right;
  }

  .company {
    background: url('../img/cd-icon-company.svg') no-repeat 16px center;
  }

  [required].company {
    background: url('../img/cd-icon-company.svg') no-repeat 16px center, 
          url('../img/cd-required.svg') no-repeat top right;
  }

  .email {
    background: url('../img/cd-icon-email.svg') no-repeat 16px center;
  }

  [required].email {
    background: url('../img/cd-icon-email.svg') no-repeat 16px center, 
          url('../img/cd-required.svg') no-repeat top right;
  }

  .budget {
    background: url('../img/cd-icon-budget.svg') no-repeat 16px center;
  }

  .message {
    background: url('../img/cd-icon-message.svg') no-repeat 16px 16px;
  }

  [required].message {
    background: url('../img/cd-icon-message.svg') no-repeat 16px 16px, 
          url('../img/cd-required.svg') no-repeat top right;
  }
}

  .icon {
    margin-top: 20px !important;
    margin-bottom: 20px !important;

  }

/* -------------------------------- 

FLoating labels 

-------------------------------- */

.js .floating-labels {
  div {
    margin: 28px 0;
  }

  .bh-label {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 1.6rem;
    font-family: 'brandon_grotesque_lightRg';
    cursor: text;

    @include transition(top .2s, left .2s, font-size .2s);
  }



  .icon .bh-label {
    left: 56px;
  }

  .bh-label.float {
    /* move label out the input field */
    font-size: 1.2rem;
    top: -20px;
    left: 0 !important;
  }

  @include MQ(M) {

    legend + div {
      /* reduce margin-top for first form element after the legend */
      margin-top: 16px;
    }

    .bh-label {
      top: 20px;
    }
  }
}

#bg-full-image {
  img {
  margin-bottom: -20px; // fix gap issue

  }
}