@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}



/* ============================================================
BACKGROUND VIDEO
============================================================ */
#video-container {
  position: relative;
  margin: 0 0 0 0;
  height: 100%;
  width: 100%;
  background-color: #282828;
  overflow: hidden;
}

#hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 600px;
  height: auto;
  transform: translate(-50%, -50%);
}

#video-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 80px 20px;
  text-align: center;
}
#video-content h3,
#video-content p{
  color: #fff;
  text-shadow: -1px 1px 4px rgba(0, 0 ,0 , 0.6);
}
#video-content a {
  text-transform: none;
  color: #fff;
}

#video-content h3 {
  text-transform: lowercase;

}

#video-content p {
  margin-bottom: 40px;

}


@media all and (min-width: 600px) {
  #video-container {
    height: 480px;
  }

  #hero-video {
    width: 1024px;
  }

  #video-content {
    padding: 160px 20px;
  }
  #video-content h3 {
    font-size: 42px;
  }
  #video-content p,
  #video-content a {
    font-size: 18px;
  }
}
@media all and (min-width: 1024px) {
  #video-container {
    height: 600px;
  }

  #hero-video {
    width: 100%;
  }

  #video-content {
    padding: 200px 20px;
  }
  #video-content h3 {
    font-size: 4em;
  }
  #video-content p {
    font-size: 2.6em
  }
  #video-content a {
    font-size: 1.8em;
  }
}

$bg-color: #D62323;
$bg-color-1: #1B49BE;
$bg-color-2: #8861AA;

.bg-purple { background-color: #8861AA; }
.bg-black { background-color: #252525; }
.bg-blue { background-color: #02aedc; }
.bg-red { background-color: #d62323; }
.bg-darkblue { background-color: #1b49be; }



 


#hero-big-text {
  @include outer-container(100%);
  height: 380px;

  @include MQ(L) {
    height: 600px;
  }


 

  .hero-text {
    padding-left: 2em;
      
        h1.super-big {
        color: #fff;
        margin: 0;
        margin-right: 1em;
        padding-top: 1em;
        padding-bottom: 0em;
        font-size: 3.6em;
        text-transform: uppercase;
        font-family: 'brandon_grotesque_boldregular';
        animation: none;
        letter-spacing: 8px;
        text-align: left;
        animation: fadeInUp 2s .4s backwards;

      }

      h6.big {
        color: #fff;
        font-size: 1.8em;
        text-transform: uppercase;
        line-height: 1em;
        animation: fadeInUp 2s .8s backwards;
      }

      h6 {
        font-size: 1em;
        text-transform: uppercase;
        line-height: 1em;
        animation: fadeInUp 2s 1.2s backwards;
        color: #fff;
      }

      hr.big-hr {
        color: #fff;
        background-color: #fff !important;
        height: 6px;
        width: 140px;
        align: left;
        margin: 0;
        

      }

      h6.ref {
            font-family: 'GoudyItalic';
            font-size: 0.8em;
            margin-bottom: 2em;
            text-transform: none;

          }

          cite {
            color: #fff;
          }

      @include MQ(M) {
        width: 600px;
        float: right;

        h1.super-big {
          font-size: 4.8em;
        }

        h6.big {

          font-size: 2.4em;
          margin-bottom: 0.2em;

          
        }
        h6.ref {
            font-size: 1.2em;
          }

        hr.big-hr {
          height: 6px;
          width: 180px;    
        }
      }

      @include MQ(L) {

         
         width: 900px;
         float: right;
         padding-right: 2em;

          h1.super-big {
            margin-right: 1em;
            padding-top: 1em;
            padding-bottom: 0em;
            font-size: 6.7em;
            letter-spacing: 8px;
            text-align: left;

          }

          h6.big {
            font-size: 3.6em;
            line-height: 1em;
          }

          h6 {
            font-size: 1.6em;
            line-height: 1em;
          }

          hr.big-hr {
            height: 12px;
            width: 240px;
          }

      }

  }

}

  
  





