.image-inline-right {
	padding-bottom: 4em;
	margin-top: 4em;
	margin-bottom: 4em;


	.img-inline {
	@include span-columns(7);
	@include omega();


	img {
		max-height: 400px;	
		margin: auto;
	}


	}

	.text-wrap-right {
		position: relative;
		height: 400px;
		@include span-columns(5);

		.text {
			position: absolute;
			@include center(y);

			h1 {
				text-align: left;
			}

		}
	}
}