.image-inline-left {
	@include outer-container($site-width);
	padding-bottom: 4em;
	padding-top: 4em;

	.img-inline {
	@include span-columns(7);

	img {
		overflow: hidden;

		
	}


	}

	.text-wrap {
		position: relative;
		height: 400px;
		@include span-columns(5);
		@include omega();

		.text {
			position: absolute;
			@include center(y);

			h1 {
				text-align: left;
			}

		}
	}
}