#intro_steps	{
	@include outer-container($site-width);
	padding-top: 6em;
	$X:800px;

	svg {
		display: block;
		margin: auto;

	}

	@include MQ(X) {
       h1 {
       	font-size: 3.6em;
       }
    }

    .intro-h1 {
    	color: $text-color;
    	padding-bottom: 2em;
    }

    

	h1 {
		margin-top: 1em;
		color: #02aedc;
		font-size: 3.6em;
		animation: none;
		text-transform: uppercase;
	}
	p {
		text-align: center;
		padding-bottom: 2em;

	}

	i {
		vertical-align: middle;
		float: right;
		font-size: 4em;
		padding-bottom: 0em;
		color: #02aedc;
	}

	hr.big-hr {
    color: #02aedc;
    height: 6px;
    width: 140px;
    align: center;
    margin: 40px auto;
        

      }

	.design-icon,
	.build-icon {
		display: block;
		margin: auto;
	}
}

.step {
	margin-right: 0;
	@include MQ(X) {
       @include span-columns(4);
    }
	@include span-columns(12);

	h5 {
		text-align: center;
	}


	p {
		font-size: 1.2em;
		padding: 0 1em 0 1em;
	}

	svg {
		display: block;
		margin: auto;
	}

}

.step-img {
		display: block;
		margin: auto;
	}

	.step-content {
		opacity: 1;
	}




	
