#intro_steps	{
	@include outer-container($site-width);
	padding-top: 6em;
	$X:800px;
	z-index: 1000000;





	svg {
		display: block;
		margin: auto;

	}

	@include MQ(X) {
       h1 {
       	font-size: 3.6em;
       }
    }

    .intro-h1 {
    	color: $text-color;
    	padding-bottom: 2em;
    }

    

	h5 {
		margin-top: 2em;
		color: #fff;
		animation: none;
		border-bottom: none;
	}
	
	p {
		text-align: center;
		padding-bottom: 2em;
		color: #fff;

	}

	i {
		vertical-align: middle;
		float: right;
		font-size: 4em;
		padding-bottom: 0em;
		color: #02aedc;
	}

	hr.big-hr {
    color: #02aedc;
    height: 6px;
    width: 140px;
    align: center;
    margin: 40px auto;
        

      }

	.design-icon,
	.build-icon {
		display: block;
		margin: auto;
	}
}

.step-lime {
	background-color: rgba(236, 165, 199, 0.9);

}

.step {
	margin-right: 0;
	padding: 2em;
	border-radius: 5px;
	max-width: 400px;
	height: 400px;
	// animation: fadeInUp 2s .4s backwards;
	@include span-columns(12);


	@include MQ(M) {
       @include span-columns(4);
    }

	h5 {
		text-align: center;
	}


	p {
		font-size: 1.2em;
		padding: 0 1em 0 1em;
	}

	svg {
		display: block;
		margin: auto;
		width: 128px;
		height: 128px;
	}

}

.step-img {
		display: block;
		margin: auto;
	}

	.step-content {
		opacity: 1;
	}


	.step-btn {
		@include outer-container($site-width);
		margin-top: 4em;
		margin-bottom: 12em;

		text-align: center;
		
	}




	
