.pagination:before,
.pagination:after {
	content: " ";
	display: table;
}

.pagination:after {
	clear:box;
}

.pagination {
	text-align: center;
	margin:  0 0 3em 0;

	a, .previous_page, .current, .next_page {
		padding: .75em 1em;
		margin: 0 0.25em;
		border-radius: .15em;
		line-height: 20px;
		text-decoration: none;
		background: #fff;
		font-size: 1em;
		font-style: normal;
		&:hover {
			background: #02aedc;
			color: #fff;
		}
	
	}

	.current {
		background: #02aedc;
		color: #fff;
	}
	.disabled {
		color: #c0c0c0;
		&:hover {
			color: #c0c0c0;
			background: #fff;
		}
	}

}