/*------------------------------------------------------------------
    [Progress Bar]
------------------------------------------------------------------*/
.progress-boxes {
    @include outer-container($site-width);
    @include clearfix;
    padding: 350px 1em 1em 1em;
}



.progress-box {
    @include span-columns(2);
    overflow: hidden;

    .progress-title {
       
        text-align: left;
        text-transform: inherit;
        margin: 0 0 10px 2px;

        > .pull-right {
            float: right !important;
        }
    }

    .progress {
        background: lighten(#ccc, 2%);
        box-shadow: none;
        margin-bottom: 15px;
    }

    .progress-xs { height: 3px; }
    .progress-sm { height: 6px; }
    .progress-md { height: 11px; }

    .progress-bar {
        @include transition(all, 3s ease-in);
    }
}


/*------------------------------------------------------------------
    [Vertical Progress Bar]
------------------------------------------------------------------*/

.progress-vertical {
    position: relative;
    float: left;
    @include bh-size(100%, 200px);

    .progress-bar {
        @include bh-position(absolute, $bottom: 0);
        @include bh-size(100%, 0);
        @include transition(height, 3s ease);
    }
}

