.bg-purple { background-color: #8861AA; }
.bg-black { background-color: #252525; }
.bg-blue { background-color: #02aedc; }
.bg-red { background-color: #d62323; }
.bg-darkblue { background-color: #1b49be; }
.bg-gold { background-color: #A28E5C; }




#quotes {
  @include outer-container(100%);


}

.quote {

  .quote-text {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 4em;
    padding-bottom: 2em;
    

    @include MQ(M) {
      padding-left: 2em;
      padding-right: 2em;
    }

    @include MQ(L) {
      padding-left: 4em;
      padding-right: 4em;
      width: 100%;
    }


      h1 {
      animation: none;
      color: #fff;
      margin-top: 0;
      font-family: 'GoudyItalic';
      font-size: 2.6em;
      line-height: 1em;
      text-align: left;
      margin-bottom: 0.5em;
      // border-left: 20px solid #fff;

    }

     span.ref {
      font-family: 'GoudyRegular';
      color: #fff;
      font-size: 0.4em;
      margin-bottom: 2em;
      text-transform: none;

    }
    cite {
            
      color: #fff;
      margin-left: 12%;
      }

    @include MQ(M) {
      float: left;
      h1 {
        font-size: 4.6em;
      }
    }

    @include MQ(L) {

      h1 {
        font-size: 6.4em;
      }
    }

    @include MQ(XL) {

      .quote-text {
        max-width: 70%;

      }
      
    }
  }

  
}


#quote-circle {
  @include outer-container(100%);
  

  .circle-outer {
   
  }

  .quote-text-circle {
     position: relative;


    height: 600px;
    width: 600px;

    border-radius: 50%;
    opacity: 0.9;

    background-color: rgba(170, 135, 255, 0.9);

    .inner-circle {
      @include centerer;
    }

    h1 {
      
      animation: none;
      color: #fff;
      margin-top: 0;
      font-family: 'GoudyItalic';
      font-size: 2.6em;
      line-height: 1em;
      text-align: center;
      margin-bottom: 0.5em;
      // border-left: 20px solid #fff;

    }

    @include MQ(M) {
      float: left;
      h1 {
      
      }
    }

    @include MQ(L) {

      
    }
  }


}























