// variables

$base-background-color: #02aedc !default;
$dark-gray: #333 !default;
$light-gray: #DDD !default;
$medium-screen: 700px !default;
$large-screen: 1024px !default;
$base-font-color: $light-gray !default;
$grid-items-background: $base-background-color;
$grid-item-background: $base-background-color;
$grid-item-border: 1px solid transparentize($base-font-color, 0.4); 
$grid-item-columns: 4;
$grid-item-big-columns: 8;
$grid-item-height-s: 20em;
$grid-item-height-l: 30em;



// colors

$color-1: yellow; 
$color-2: #d62323; 
$color-3: #ab87ff; 
$color-4: #1b49be;
$color-5: #02aedc;
$color-6: #8661aa;
$color-7: #4dccbd;
$color-8: #2374ab;
$color-9: #ff8484;
$grey  : #797e83;


// Services


#services {
  @include outer-container(100%);
  background-color: #02aedc;
  padding-left: 2em;
  padding-right: 2em;

  .feature-intro {
      h1 {
        margin-top: 0;
      animation: none;
      color: #fff;
      padding-top: 2em;
      padding-bottom: 0.75em;
      text-transform: uppercase;
      font-size: 2.1em;
    }
    p {
      text-align: center;
      color: #fff;
      font-size: 1.2em;
    }
     @include MQ(M) {
   
      h1 {
        font-size: 3.7em
      }

      p {
        font-size: 2em;
      }

  }



    
  }


  
}


@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items-lines {
  @include clearfix;
  position: relative;
  cursor: crosshair;

  h5 {
    text-align: center;
 
      }

    p {
      font-size: 1em;
      text-align: center;
      padding-bottom: 2em;
      color: #02aedc;
      text-align: center;
    }
    @include MQ(M) {
      p {
        font-size: 1.2em;
      }
    }

    @include MQ(L) {
      p {
        font-size: 1.6em;
      }
    }

  
    
  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background;
    cursor: crosshair;
    float: left;
    height: $grid-item-height-s;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-decoration: none;
    width: 100%;

    svg {
      stroke: #fff;
      height: 64px;
      width: 64px;
      display: block;
      margin: auto;
    }

    &:focus,
    &:hover {
      background: #fff;
      svg {
        opacity: 1;
        stroke-dasharray: 90;
        stroke-dashoffset: 90;
        stroke: #02aedc;
        
        animation: offset 1s linear forwards;

        }

         p {
          color: $grey;
        }

    }

    @include MQ(M) {
      @include grid-item-columns($grid-item-columns);
      height: $grid-item-height-l;

      svg {
        height: 96px;
        width: 96px;
      }
    }

    @include MQ(L) {
      @include grid-item-columns($grid-item-columns);
      height: $grid-item-height-l;

      svg {
        height: 128px;
        width: 128px;
      }
    }

    
  }


  // .hover-color-1 { &:focus,&:hover {background: #fff;} }
  // .hover-color-2 { &:focus,&:hover {background: #fff;} }
  // .hover-color-3 { &:focus,&:hover {background: #fff;} }
  // .hover-color-4 { &:focus,&:hover {background: #fff;} }
  // .hover-color-5 { &:focus,&:hover {background: #fff;} }
  // .hover-color-6 { &:focus,&:hover {background: #fff;} }
  // .hover-color-7 { &:focus,&:hover {background: #fff;} }
  // .hover-color-8 { &:focus,&:hover {background: #fff;} }
  // .hover-color-9 { &:focus,&:hover {background: #fff;} }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    background: $grid-items-background;
    bottom: 0px;
    height: 30px;
    position: absolute;
    width: 100%;
  }

  .right-cover {
    background: $grid-items-background;
    height: 100%;
    position: absolute;
    right: 0px;
    width: 4px;
  }
}

#call-to-action {
  background-color: #02aedc;
  height: 10em;
  position: relative;
  padding: 4em;

  .action-btn {
    @include centerer;
   
  }
}

