

#article {
	@include outer-container(80%);
	
		padding-top: 14em;

		aside {
			
	
			@include span-columns(4);
	
	
			border: 2px solid;
			@include border-color(red green null blue);
			background-color: lightblue;


		}

		.main-section {
	
			@include span-columns(8);
			@include omega();




			@include border-color(red green null blue);
			background-color: lightblue;



		}
	
}

